
  <div class="card">
    <div class="card-body">
      <% @profiles.each do |profile| %>
        <li><%= profile.first_name %></li>
      <% end %>

      <%# not used atm, redirecting to user profile %>
      </div>
    </div>
