<h1> Current Events! </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
        <td> <%= link_to event.name, event_path(event) %> </td>
        <td> <%= event.description %> </td>
        <td> <%= event.start_time %> </td>
        <td> <%= event.end_time %> </td>
    </tr>
    <% end %>
 </table>