<h1> Specific Event </h1>

<p>
<strong>Name:</strong>
<%= @event.name %>
</p>

<p>
<strong>Description:</strong>
<%= @event.description %>
</p>

<p>
<strong>Start Time:</strong>
<%= @event.start_time %>
</p>

<p>
<strong>End Time:</strong>
<%= @event.end_time %>
</p>