/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *
  *= require_self
*/
@import "material";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "/\*";
// Let's organize these by expected use case
// i.e. Welcome Page vs whole site etc.
// Throw a comment in about whats going on if weird

body,
html {
  height: 100%;
}

body {
  font: Montserrat, sans-serif;
  line-height: 1.8;
  color: #424242;
  background: #E2E2E2;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  // position: relative;
  // top: 120px;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // //text-align: center;
  // margin: 20px 0;
}

.navbar {
  height: 80px;
}

.nav-item {
  color: #FFFFFF;
}

.navbar-brand img {
  width: 70px;
}

.undernav {
  background-color: #2098EB;
  height: 150px;
}
<<<<<<< HEAD
//I know this might slow things down but I need it...
.simple-space {
  height: 10px;
}

=======
>>>>>>> 6f49281447f1e284dce3efb892c09a3e641bb77a

// can prob be removed and use container class
.card-new {
  max-width: 80%;
  margin: auto;
}

.card-bg {
  border-radius: 2px;
  background-color: #E2E2E2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  height: 100%;
}
//card with no dropshadow

.card-flat {
  border-radius: 2px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

}
.card-map {
  border-radius: 2px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  width: 100%;
}

//card with hover shadow
.card-hover {
  border-radius: 2px;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
// places index
.media {
  padding: 10px;
}

.media img {
  max-width: 200px;
}
// Welcome
.carousel {
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 300px;
}
.carousel-caption{
  text-shadow: 2px 2px #000000;
}

.carousel-caption-2 {
  color: white;
  position: absolute;
  right: 25%;
  left: 25%;
  text-align: center;
  z-index: 1;
  font-weight: bold;
}

.img-circle {
  border-radius: 50%;
}

.logo-head {
  height: 100px;
  width: 100px;
}

.container {
  margin-bottom: 20px;
}

.link_to {
  color: #2098EB;
}
