/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *
  *= require_self
*/
@import "material";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "/\*"; // Let's organize these by expected use case
// i.e. Welcome Page vs whole site etc.
// Throw a comment in about whats going on if weird

body,
html {
  height: 100%;
}

body {
  line-height: 1.8;
  color: #424242;
  background: #E2E2E2;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--info-dark);
}


a:active,
a:focus,
a:hover {
  color: #2196f3;
  text-decoration: underline;
}

.badge-secondary {
  background-color: #2196f3;
  color: white;
}

.nav-pills .nav-link.active {
  color: #2196f3;
  opacity: 1;
}

.btn-secondary {
  background-color: #2196f3;
  color: white;
}

.btn-link {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: #2196f3;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.btn-link:active, .btn-link:focus, .btn-link:hover {
  color: #2196f3;
  text-decoration: underline;
}

.btn-flat-secondary, .btn-flat-secondary:active, .btn-flat-secondary:focus, .btn-flat-secondary:hover,
.btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
  color: #2196f3;
}

.form-control:focus, .custom-select:focus, .form-control-file:focus {
  border-color: #2196f3;
  box-shadow: inset 0 -2px 0 -1px #2196f3;
  outline: 0;
}

select.form-control:focus[multiple], select.form-control:focus[size]:not([size='1']), textarea.form-control:focus:not([rows='1']), .custom-select:focus[multiple], .custom-select:focus[size]:not([size='1']) {
  box-shadow: inset 2px 2px 0 -1px #2196f3, inset -2px -2px 0 -1px #2196f3;
}

.textfield-box select.form-control:focus[multiple], .textfield-box select.form-control:focus[size]:not([size='1']), .textfield-box textarea.form-control:focus:not([rows='1']), .textfield-box .custom-select:focus[multiple], .textfield-box .custom-select:focus[size]:not([size='1']) {
  box-shadow: inset 0 -2px 0 -1px #2196f3;
}

.text-secondary {
  color: #2196f3 !important;
}

.badge-secondary[href]:active, .badge-secondary[href]:focus, .badge-secondary[href]:hover {
  background-color: #1976d2;
  color: white;
  text-decoration: none;
}

.btn-secondary.active, .btn-secondary:active {
  background-color: #1976d2;
}

a.bg-secondary:active, a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #1976d2 !important;
}

.bg-secondary-dark {
  background-color: #1976d2 !important;
}

a.text-secondary:active, a.text-secondary:focus, a.text-secondary:hover {
  color: #1976d2 !important;
}

.badge-primary {
  background-color: #2196f3
;
  color: white;
}

.btn-primary {
  background-color: #2196f3
;
  color: white;
}

.btn-flat-primary, .btn-flat-primary:active, .btn-flat-primary:focus, .btn-flat-primary:hover,
.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: #2196f3
;
}

.modal-footer .btn-primary, .modal-footer .btn-primary:active, .modal-footer .btn-primary:focus, .modal-footer .btn-primary:hover {
  color: #2196f3
;
}

.badge-primary[href]:active, .badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: #1976d2
;
  color: white;
  text-decoration: none;
}

.btn-primary.active, .btn-primary:active {
  background-color: #1976d2
;
}

a.bg-primary:active, a.bg-primary:focus, a.bg-primary:hover {
  background-color: #1976d2
 !important;
}

.bg-primary-dark {
  background-color: #1976d2
 !important;
}

a.text-primary:active, a.text-primary:focus, a.text-primary:hover {
  color: #1976d2
 !important;
}


.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  // position: relative;
  // top: 120px;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // //text-align: center;
  // margin: 20px 0;
}

.navbar {
  margin-bottom: 20px;
  padding: 0.625rem 3rem;
}

.nav-item {
  color: #FFFFFF;
}

.navbar-brand img {
  width: 80px;
}

//I know this might slow things down but I need it...

.simple-space {
  height: 10px;
}
// can prob be removed and use container class

.card-new {
  max-width: 80%;
  margin: auto;
}

.card-bg {
  border-radius: 2px;
  background-color: #E2E2E2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  height: 100%;
}
//card with no dropshadow

.card-flat {
  border-radius: 2px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.card-map {
  border-radius: 2px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  width: 100%;
}
//card with hover shadow

.card-hover {
  border-radius: 2px;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}
// places index

.media {
  padding: 10px;
}

.media img {
  max-width: 200px;
}
// Welcome

.carousel {
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 300px;
}

.carousel-caption {
  text-shadow: 2px 2px #000000;
}

.carousel-caption-2 {
  color: white;
  position: absolute;
  right: 25%;
  left: 25%;
  text-align: center;
  z-index: 1;
  font-weight: bold;
}

.img-circle {
  border-radius: 50%;
}

.logo-head {
  height: 100px;
  width: 100px;
}

.container {
  margin-bottom: 20px;
}

.link_to {
  color: var(--info-dark);
}

.dropdown-toggle::after {
  display: none;
}
