/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *
  *= require_self
*/

@import "material";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "/\*";

// Let's organize these by expected use case
// i.e. Welcome Page vs whole site etc.
// Throw a comment in about whats going on if weird

 body {
   font: Montserrat, sans-serif;
   line-height: 1.8;
   color: #686b6e;
   background: #c5c7c9
 }

.navbar {
  margin-bottom: 20px;
}

.navbar-brand img {
  width: 80px;
}

.footer {
  margin-top: 20px;
}

// can prob be removed and use container class
.card-new {
  max-width: 80%;
  margin: auto;
}

// places index
.media {
  padding: 10px;
}
.media img {
  max-width: 200px;
}

// Welcome
.carousel {
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-item img{
    object-fit: cover;
    height: 500px;
}