<div class="container">

<div class="card card-nav-tabs text-center">
  <h4 class="card-header card-header-info">Places</h4>

  <div class="card-body">
<div class="container">
  <% @places.each do |place| %>
  <div class="card" style="width: 20rem;">
    <h4 class="card-title"> <%= link_to place.name, place_path(place) %></h4>
    <img class="card-img-top" src="<%= place.image_uri %>" alt="Card image cap">
    <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        </div>

  <% end %>
</div>
</div>
</div>
</div>
