<div class="container">
  <div class="row">
    <div class ="col-md-6">
      <img style="width:100%;" src="<%= @place.image_uri %>" alt="<%= @place.image_uri %>">
    </div>
    <div class ="col-md-6">
      <div id='map' data-place="<%= @place.to_json %>" style="height:100px;">
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmaps_api_key %>&callback=initMap" type="text/javascript"></script>
      </div>
    </div>
  </div>
</div>